.discount-price{
    /* background-color: #2d572c; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column ;
    /* border: solid black ; */
    border-radius: 2rem;
    overflow: auto;

}
.discount-price *{
    margin: 00.2rem;
}
.discount-price__title{
    font-size: 2.4rem;
    text-align:  center;
    padding: 2rem;
}
.discount-price__block{
    display: flex;
    flex-flow: column;
    margin: 2rem;
    align-items: center;
}
.discount-price__label{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.discount-price__input{
    border-radius: 0.5rem;

}
.discount-price__result{
    width: 50%;
    height: 2rem;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    border-radius: 0.5rem;
}
